/*-------- Reset CSS ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------ Global CSS ----------------*/
li {
  list-style: none;
}

header {
  width: 100vw;
}
/*------------ CSS ----------------*/
/*____________ HEADER _____________*/
/*=============== Navbar ==========*/
.navbar {
  width: 100vw;
  height: 10vh;
  background: rgba(255, 255, 255, 0.58);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 100;
}

/************* Logo **************/
.container-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-logo {
  width: 60px;
}

.name-logo {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(5, 60, 5);
  cursor: default;
}

/******** Mobile Menu Navbar *******/
.menu {
  height: 100%;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-mobile-menu {
  cursor: pointer;
}

#menu-check {
  height: 100%;
  width: 100%;
  display: none;
}

.btn-mobile {
  width: 40px;
}
.container-menu-navbar {
  display: none;
}

.nav-link {
  color: rgb(5, 60, 5);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  font-weight: bold;
  color: rgb(4, 106, 48);
  font-size: 2rem;
  cursor: default;
}
/*:::::: Gestion Mobile Menu ::::::*/

#menu-check:checked ~ .container-menu-navbar {
  display: block;
}

.menu-navbar {
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.58);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*____________ MAIN ______________*/
/*========== First section =======*/
.firstSection {
  z-index: 50;
  background-image: url(./assets/bg-header.jpg);
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-position: top;
}

.firstSectionabsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45vh;
  margin: 10vh auto 0 0;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
  grid-template-areas:
    ". h1-firstsection ."
    ". line-firstsection ."
    ". p-firstsection ."
    ". a-firstsection .";
  justify-content: start;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.titleh1 {
  grid-area: h1-firstsection;
  font-size: 2.5rem;
  justify-self: center;
  align-self: end;
}
.line-firstSection {
  grid-area: line-firstsection;
  width: 50vw;
  height: 15px;
  background: rgb(4, 106, 48);
  border-radius: 50px;
  justify-self: center;
  align-self: center;
}
.text-firstSection {
  grid-area: p-firstsection;
  justify-self: start;
  align-self: center;
  font-size: 1.2rem;
}
.btn-firtSection {
  grid-area: a-firstsection;
  justify-self: end;
  align-self: center;
  color: whitesmoke;
  text-decoration: none;
  background: rgb(4, 106, 48);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px whitesmoke;
}
.btn-firtSection:hover {
  color: rgb(5, 60, 5);
  background: whitesmoke;
  box-shadow: inset 3px 3px rgb(4, 106, 48);
}

/*==========Second Section ============*/
.secondSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleh2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(4, 106, 48);
  margin: 25px auto;
}
.line-secondSection {
  width: 50vw;
  height: 15px;
  background: rgb(4, 106, 48);
  border-radius: 50px;
}
/*-------- Cards ---------------*/
.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card {
  width: 80vw;
  height: 80vh;
  margin-top: 15px;
  border: 3px solid rgb(5, 60, 5);
  display: grid; 
  grid-template-columns: 0.25fr 1fr 0.25fr; 
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img img img"
    ". titleh3 ."
    ". line-secondSection ."
    ". desc-card-secondSection ."
    ". btn-card-secondSection .";
  border-radius: 50px;
  background: rgba(4, 106, 48, 0.1);
}
.img-card {
  grid-area: img;
  width: 100%;
  border-radius: 50px 50px 0 0px;
}
.titleh3 {
  grid-area: titleh3;
  color: rgb(4, 106, 48);
  justify-self: center;
  align-self: end;
  font-size: 1.5rem;
}
.line-card-secondSection {
  grid-area: line-secondSection;
  justify-self: stretch;
  align-self: center;
  width: 100%;
  height: 10px;
  background: rgb(4, 106, 48);
  border-radius: 30px;
}
.container-p-card-secondSection {
  grid-area: desc-card-secondSection;
  justify-self: start;
  align-self: start;

}

.btn-secondSection {
  justify-self: end; 
  align-self: center; 
  grid-area: btn-card-secondSection;
  padding: 10px 20px;
  background: rgb(4, 106, 48);
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
}
.btn-secondSection:hover {
  background: rgba(4, 106, 48, 0.1);
  color: rgb(4, 106, 48);
  box-shadow: inset 2px 2px black;
}
/*____________ FOOTER ____________*/

/*--------- Responsive CSS -------*/
@media screen and (min-width: 768px) {
  /*____________ HEADER _____________*/
  /*=============== Navbar ==========*/

  .btn-mobile-menu {
    display: none;
  }
  .menu-navbar {
    position: static;
    flex-direction: row;
    height: 100%;
    width: 60vw;
    justify-content: end;
    background: transparent;
  }
  .nav-link {
    font-size: 1rem;
    margin-right: 50px;
  }

  .active {
    font-size: 1.2rem;
    cursor: default;
  }

  .nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 1.2rem;
  }
  #menu-check ~ .container-menu-navbar {
    display: flex;
  }
  /*__________ MAIN _____________________*/
  /*======== first section ==============*/
  .firstSection {
    height: 60vh;
  }

  /*======== second section ============*/
  .container-card {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    width: 40vw;
  }
}
