/*-------- Reset CSS ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------ Global CSS ----------------*/
li {
  list-style: none;
}

header {
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
}
/*------------ CSS ----------------*/
/*____________ HEADER _____________*/
/*=============== Navbar ==========*/
.navbar {
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 100;
}

/************* Logo **************/
.container-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-logo {
  width: 60px;
}

.name-logo {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(5, 60, 5);
  cursor: default;
}

/******** Mobile Menu Navbar *******/
.menu {
  height: 100%;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-mobile-menu {
  cursor: pointer;
}

#menu-check {
  height: 100%;
  width: 100%;
  display: none;
}

.btn-mobile {
  width: 40px;
}
.container-menu-navbar {
  display: none;
}

.nav-link {
  color: rgb(5, 60, 5);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  font-weight: bold;
  color: rgb(4, 106, 48);
  font-size: 2rem;
  cursor: default;
}
/*:::::: Gestion Mobile Menu ::::::*/

#menu-check:checked ~ .container-menu-navbar {
  display: block;
}

.menu-navbar {
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*____________ MAIN ______________*/
/*========== First section =======*/
.firstSection {
  z-index: 50;
  background-image: url(./assets/bg-header.jpg);
  height: 70vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.firstSectionabsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45vh;
  margin: 10vh auto 0 0;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
  grid-template-areas:
    ". h1-firstsection ."
    ". line-firstsection ."
    ". p-firstsection ."
    ". a-firstsection .";
  justify-content: start;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.titleh1 {
  grid-area: h1-firstsection;
  font-size: 2.5rem;
  justify-self: center;
  align-self: end;
}
.line-firstSection {
  grid-area: line-firstsection;
  width: 50vw;
  height: 15px;
  background: rgb(4, 106, 48);
  border-radius: 50px;
  justify-self: center;
  align-self: center;
}
.text-firstSection {
  grid-area: p-firstsection;
  justify-self: start;
  align-self: center;
  font-size: 1.2rem;
}
.btn-firtSection {
  grid-area: a-firstsection;
  justify-self: end;
  align-self: center;
  color: whitesmoke;
  text-decoration: none;
  background: rgb(4, 106, 48);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px whitesmoke;
}
.btn-firtSection:hover {
  color: rgb(5, 60, 5);
  background: whitesmoke;
  box-shadow: inset 3px 3px rgb(4, 106, 48);
}

/*==========Second Section ============*/
.secondSection {
  overflow-x: hidden;
  width: 100vw;
  background: rgba(4, 106, 48, 0.1);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleh2-secondSection {
  font-size: 1.5rem;
  color: rgb(4, 106, 48);
  padding-bottom: 40px;
}
.line-secondSection {
  width: 40%;
  height: 10px;
  background: rgb(1, 106, 48);
  border-radius: 20px;
}
.container-card-secondSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
}
.card {
  height: 50vh;
  width: 60vw;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.25fr 1.5fr 0.5fr;
  grid-template-areas:
    "img-card"
    "h3-card"
    "line-card"
    "desc-card"
    "btn-card";
}
.space-card-secondSection {
  margin-top: 20px;
}
.img-card {
  grid-area: img-card;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.titleh3-card-secondSection {
  grid-area: h3-card;
  width: 100%;
  text-align: center;
  align-self: end;
  font-size: 1.5rem;
  color: rgb(4, 106, 48);
}
.line-card-secondSection {
  grid-area: line-card;
  background: rgb(1, 106, 48);
  height: 5px;
  width: 60%;
  justify-self: center;
  align-self: start;
  border-radius: 10px;
}
.desc-card-secondSection {
  grid-area: desc-card;
  width: 80%;
  height: 100%;
  justify-self: center;
}
.btn-card-secondSection {
  grid-area: btn-card;
  justify-self: end;
  align-self: start;
  margin-right: 30px;
  padding: 10px 20px;
  background: rgb(4, 106, 48);
  border-radius: 20px;
  color: whitesmoke;
  text-decoration: none;
  box-shadow: 3px 3px 2px black;
}
.btn-card-secondSection:hover {
  box-shadow: inset 3px 3px black;
  background: rgb(2, 74, 33);
}

/*========= third section -> parallax effect =====*/
.parallax-thirdSection {
  background-image: url(./assets/img01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 30vh;
}
/*======= fourth section -> gallery ============*/
.fourthSection {
  width: 100vw;
}
.container-info-gallery-fourthSection {
  width: 80vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleh3-fourthSection{
  font-size: 1.5rem;
  color: rgb(4, 106, 48);
}
.line-fourthSection {
  width: 40%;
  height: 10px;
  background: rgb(4,106,48);
  border-radius: 10px;
  margin: 20px 0;
}
.desc-fourthSection {
  width: 70%;
  font-size: 1.1rem;
}
.btn-fourthSection {
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(4,106,48);
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
  box-shadow: 3px 3px 3px black;
}
.btn-fourthSection:hover {
  box-shadow: inset 3px 3px black;
  background: rgb(2, 74, 33);
}
.container-img-gallery-fourthSection{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.img-gallery {
  width: 40%;
  margin: 2%;
}
/*____________ FOOTER ____________*/
.footer-class {
  width: 100vw;
  height: 10vh;
  background: rgba(4,106,48,0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.footer-class > a, .footer-class > p {
  text-decoration: none;
  color: rgb(3, 54, 25);
  font-weight: bold;
}
/*--------- Responsive CSS -------*/
@media screen and (min-width: 768px) {
  /*____________ HEADER _____________*/
  /*=============== Navbar ==========*/

  .btn-mobile-menu {
    display: none;
  }
  .menu-navbar {
    position: static;
    flex-direction: row;
    height: 100%;
    width: 60vw;
    justify-content: end;
    background: transparent;
  }
  .nav-link {
    font-size: 1rem;
    margin-right: 50px;
  }

  .active {
    font-size: 1.2rem;
    cursor: default;
  }

  .nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 1.2rem;
  }
  #menu-check ~ .container-menu-navbar {
    display: flex;
  }
  /*__________ MAIN _____________________*/
  /*======== first section ==============*/
  .firstSection {
    height: 60vh;
  }
  .line-firstSection {
    width: 30vw;
  }

  /*======== second section ============*/
  .container-card-secondSection {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    width: 40%;
    height: 70vh;
    width: 40vw;
  }
  .space-card-secondSection {
    margin: 0;
  }
  /*=========== fourth section ========*/
  .fourthSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-info-gallery-fourthSection{
    width: 40vw;
    align-items: end;
  }
  .container-img-gallery-fourthSection {
    width: 40vw;
  }
}
